apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: dep-update

spec:
  inputs:
    params:
    - name: ORGANIZATION
    - name: REPOSITORY
    - name: DEPENDENCIES
    - name: BRANCH
      default: master
    - name: ASSIGNEE
      default: mattmoor
    resources:
    - name: source
      type: git

  steps:
  - name: dep
    image: gcr.io/mattmoor-knative/dep
    command: ["/bin/bash", "-c"]
    resources:
      requests:
        cpu: 3000m
        memory: 2Gi
    args:
    - |
      set -e
      set -x
      export PARENT_DIR=${GOPATH}/src/github.com/$(inputs.params.ORGANIZATION)
      if [ "$(inputs.params.REPOSITORY)" == "pkg" ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      elif [ "$(inputs.params.REPOSITORY)" == "sample-controller" ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      elif [ "$(inputs.params.REPOSITORY)" == "test-infra" ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      elif [ "$(inputs.params.REPOSITORY)" == serving ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      elif [ "$(inputs.params.REPOSITORY)" == eventing ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      elif [ "$(inputs.params.REPOSITORY)" == eventing-contrib ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      elif [ "$(inputs.params.REPOSITORY)" == "caching" ]
      then
        export PARENT_DIR=${GOPATH}/src/knative.dev
      fi
      mkdir -p ${PARENT_DIR}
      ln -s /workspace/source ${PARENT_DIR}/$(inputs.params.REPOSITORY)
      cd ${PARENT_DIR}/$(inputs.params.REPOSITORY)
      export REPO_ROOT_DIR=${PARENT_DIR}/$(inputs.params.REPOSITORY)
      dep ensure -update $(inputs.params.DEPENDENCIES)
      go get -u github.com/google/licenseclassifier
      go get -u github.com/knative/test-infra/tools/dep-collector
      export PATH=${PATH}:${GOPATH}/bin
      # Sometimes we "fix up" ./vendor, so run this for good measure.
      ./hack/update-deps.sh
      # We may pull in code-generator updates.
      ./hack/update-codegen.sh
    env:
    - name: GOPATH
      value: /tmp/go

  - name: open-pull-request
    image: github.com/mattmoor/knobots/cmd/pr-builder
    args:
    - "-workspace=/workspace/source"
    - "-organization=$(inputs.params.ORGANIZATION)"
    - "-repository=$(inputs.params.REPOSITORY)"
    - "-title=Auto-update dependencies"
    - "-branch=$(inputs.params.BRANCH)"
    - "-body"
    - |
        Produced via:
          `dep ensure -update $(inputs.params.DEPENDENCIES)`
        /assign $(inputs.params.ASSIGNEE)
        /cc $(inputs.params.ASSIGNEE)

    env:
    # Inject the generated pod name so that we can use it as a
    # pseudo-random branch name (and associate open PRs with
    # build logs).
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name

    # This mimics the runtime contract of the GithubBinding
    volumeMounts:
    - name: github-binding
      mountPath: /var/bindings/github

  volumes:
  - name: github-binding
    secret:
      secretName: github-comment-secret
